.content input[type="text"] {
    position:center;
    width:20%;
}


.field input[type="password"] {
    position:center;
    width:23%;
}


body {
background-image: url('loginBackground.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-align:center;
color:white;
}